
body                   {font-family: 'Merriweather', serif;
                        margin: 0px;
                        text-align: center;}


h1                     {color: #66BFBF;
                        font-family: 'Sacramento', cursive;
                        font-size: 5.625rem;
                        line-height: 2;
                        margin: 50px auto 0 auto;}

.astudent              {font-weight: normal;}

h2                     {color: #66BFBF;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 2.5rem;}

h3                     {color: #11999E;
                        font-family: 'Montserrat', sans-serif;
                        margin-top: 40px;
                        margin-bottom: 40px;}


.mee                   {width: 150px;
                        border-radius: 80px;}
.code-img              {width: 25%;
                        float: left;
                        margin-right: 30px;}
.drawing-img           {width: 25%;
                        float: right;
                        margin-left: 30px} 
.bulb                  {width: 100px;
                        display:}
.btn                   {display: block;}

.top-container         {background-color: #E4F9F5;
	                      position: relative;
                        padding-top: 100px;}
                  
.middle-container      {margin-top: 100px;}
.skill-row             {width: 50%;
                       margin: 100px auto 100px auto;
                       text-align: left;
                       line-height: 2}
.bottom-container     {padding-top: 30px;
                       padding-bottom: 30px;
                       background-color: #66BFBF}
.stu                  {text-decoration: underline;}

.top-cloud            {position: absolute;
	                     right: 300px;
	                     top: 50px}

.bottom-cloud         {position: absolute;
                       left: 300px
                       bottom: 300px;}  

a                     {color: #11999E;}
                      


                       /**************************Contact Me button**********************/
.contactme-button     {-webkit-border-radius: 20px;
                       -moz-border-radius: 20px;
                        border-radius: 20px;
                        color: #FFFFFF;
                        font-family: Arial;
                        font-size: 20px; 
                        font-weight: 100;
                        padding: 2px;
                        background-color: #66BFBF;
                        text-shadow: 1px 1px 20px #000000;
                        border: solid #337FED 1px;
                        text-decoration: none;
                        display: inline-block;
                        cursor: pointer;
                        text-align: center;
                        margin-bottom: 40px;}

.contactme-button:hover { background: #050B14;
                          border: solid #FFFFFF 1px;
                          -webkit-border-radius: 20px;
                          -moz-border-radius: 20px;
                          border-radius: 20px;
                          text-decoration: none;}


hr                     {width: 5%;
                        border-style: dotted;
                        border-width: 5px;
                        border-color: grey;
                        border-top: 0;
                        margin-top: 60px;
                        margin-bottom: 60px;}

.para                  {margin-bottom: 40px;}


.copyright            {margin-top: 30px;
                       margin-bottom: 10px;
                       color: #EAF6F6}
                           
.links-tb                {margin-left:auto;
                          margin-right: auto;
                          margin-top: 20px;
                          }

.facebook             {margin-right: 30px}
.twitter              {margin-right: 30px}
.instagram            {margin-right: 30px}


.facebook      {color: blue;}
.twitter        {color: aqua;}
.instagram       {color: red;}
.whatsapp      {color: green;}



.facebook:hover       {color: blue;}
.twitter:hover        {color: aqua;}
.instagram:hover       {color: red;}
.whatsapp:hover       {color: green;}

.linksimgs                   {width: 50px;
                             }                    
.fb-table                {float: left;}
.twitter-table           {float: left}
.instagram-table         {float: left;}
.whatsapp-table         {float: left;}
